#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/behaviors.h>

// Layers
#define BASE  0
#define MTGAP 1
#define NAV   2
#define SYM   3
#define WIN   4
#define FN    5

// Modifiers
#define LSG(key) LS(LG(key))
#define LCA(key) LC(LA(key))
#define LCG(key) LC(LG(key))
#define MEH(key) LS(LC(LA(key)))
#define HYPER    RC(RA(RG(RSHIFT)))

// Layer-Tap
#define NAV_ESC  NAV ESC
#define SYM_BSPC SYM BSPC
#define FN_GRV   FN  GRAVE

// Mod-Tap
#define HYPR_TAB  HYPER  TAB
#define LSFT_SPC  LSHIFT SPACE
#define RCTL_RET  RCTRL  RET
#define LCTL_ESC  LCTRL  ESC
#define LGUI_LNG2 LGUI   LANG2
#define RGUI_LNG1 RGUI   LANG1
#define RGUI_TAB  RGUI   TAB
#define LCTL_LBKT LCTRL  LBKT
#define LSFT_RBKT LSHIFT RBKT

// Otherwise
#define OS_LOCK LCG(Q)

&mt {
    tapping-term-ms = <150>;
};

&lt {
    flavor = "hold-preferred";
    tapping-term-ms = <150>;
};

/ {

    behaviors {
        mt_qt: mod_tap_quick_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <150>;
            quick-tap-ms = <150>;
            bindings = <&kp>, <&kp>;
            display-name = "Mod-Tap";
        };

        lt_qt: layer_tap_quick_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <150>;
            quick-tap-ms = <150>;
            bindings = <&mo>, <&kp>;
            display-name = "Layer-Tap";
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <NAV SYM>;
            then-layer = <WIN>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            bindings = <
&mt LSFT_SPC  &lt NAV_ESC  &mt LGUI_LNG2  &kp LALT  &kp RCTRL  &mo FN            &lt FN_GRV  &kp RCTRL  &kp RALT  &mt RGUI_TAB  &lt_qt SYM_BSPC  &mt RCTL_RET
&kp B         &kp V        &kp C          &kp X     &kp Z      &kp LSHIFT        &kp BSLH    &kp FSLH   &kp DOT   &kp COMMA     &kp M            &kp N
&kp G         &kp F        &kp D          &kp S     &kp A      &mt LCTL_ESC      &kp SQT     &kp SEMI   &kp L     &kp K         &kp J            &kp H
&kp T         &kp R        &kp E          &kp W     &kp Q      &mt HYPR_TAB      &kp BSPC    &kp P      &kp O     &kp I         &kp U            &kp Y
            >;
        };

        mtgap_layer {
            bindings = <
&mt LSFT_SPC  &lt NAV_ESC  &mt LGUI_LNG2  &kp LALT  &kp RCTRL  &mo FN            &lt FN_GRV  &kp RCTRL  &kp RALT  &mt RGUI_TAB  &lt_qt SYM_BSPC  &mt RCTL_RET
&kp SEMI      &kp DOT      &kp FSLH       &kp Z     &kp Q      &kp LSHIFT        &kp BSLH    &kp X      &kp V     &kp G         &kp F            &kp B
&kp COMMA     &kp A        &kp E          &kp N     &kp I      &mt LCTL_ESC      &kp SQT     &kp R      &kp S     &kp T         &kp H            &kp M
&kp J         &kp U        &kp O          &kp P     &kp Y      &mt HYPR_TAB      &kp BSPC    &kp W      &kp C     &kp L         &kp D            &kp K
            >;
        };

        nav_layer {
            bindings = <
&trans      &trans       &trans         &trans         &trans      &trans      &trans        &trans         &trans     &trans     &trans       &trans
&kp LG(V)   &kp LSG(V)   &kp LG(C)      &kp LG(X)      &kp LSG(Z)  &trans      &none         &kp LG(GRAVE)  &kp LC(E)  &kp LC(A)  &kp DEL      &kp BSPC
&kp LCG(S)  &kp LCG(V)   &mt LSFT_RBKT  &mt LCTL_LBKT  &kp LSG(A)  &trans      &kp LG(DOWN)  &kp LG(LBKT)   &kp RIGHT  &kp UP     &kp DOWN     &kp LEFT
&kp LSG(T)  &kp LC(TAB)  &kp RPAR       &kp LPAR       &kp LSG(C)  &trans      &kp LG(UP)    &kp LG(RBKT)   &kp RBRC   &kp LBRC   &kp LC(TAB)  &kp LG(TAB)
            >;
        };

        sym_layer {
            bindings = <
&trans    &trans    &trans     &trans     &trans    &trans      &trans  &trans     &trans    &trans     &trans    &trans
&kp BSLH  &kp N2    &kp N4     &kp N6     &kp N8    &trans      &none   &kp N9     &kp N7    &kp N5     &kp N3    &kp GRAVE
&kp AT    &kp N0    &kp MINUS  &kp EQUAL  &kp STAR  &trans      &none   &kp COLON  &kp HASH  &kp PRCNT  &kp N1    &kp TILDE
&kp PIPE  &kp EXCL  &kp UNDER  &kp PLUS   &kp DOT   &trans      &none   &kp COMMA  &kp DLLR  &kp CARET  &kp AMPS  &kp FSLH
            >;
        };

        win_layer {
            bindings = <
&none       &trans          &none       &none       &none          &none      &none          &none  &none          &none         &trans        &none
&kp LC(N3)  &kp LCA(B)      &kp LCA(V)  &kp LCA(X)  &kp LCA(Z)     &none      &none          &none  &none          &kp MEH(RET)  &kp LCA(RET)  &kp LC(N6)
&kp LC(N2)  &kp LCA(RIGHT)  &kp LCA(K)  &kp LCA(J)  &kp LCA(LEFT)  &none      &kp MEH(RET)   &none  &kp LSG(RBKT)  &kp LA(DOWN)  &kp LCA(C)    &kp LC(N5)
&kp LC(N1)  &kp MEH(C)      &kp LCA(I)  &kp LCA(U)  &none          &none      &kp LCA(BSPC)  &none  &kp LSG(LBKT)  &kp LA(UP)    &kp MEH(C)    &kp LC(N4)
            >;
        };

        fn_layer {
            bindings = <
&bootloader   &none         &none         &none         &none         &trans              &trans       &none         &none         &none  &none  &bootloader
&to BASE      &to MTGAP     &none         &kp LG(RBKT)  &kp LG(LBKT)  &none               &kp C_MUTE   &kp C_VOL_UP  &kp C_VOL_DN  &none  &none  &kp LSG(N4)
&none         &none         &none         &kp F2        &kp F1        &studio_unlock      &kp C_PP     &kp C_NEXT    &kp C_PREV    &none  &none  &kp LSG(N3)
&bt BT_SEL 4  &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0  &bt BT_CLR          &kp OS_LOCK  &none         &none         &none  &none  &kp LSG(N2)
            >;
        };

    };
};
